.*/
*build*/
*~
*.bak
*.nro
*.nacp
*.elf
.vscode
builddir
*.dksh
.DS_Store
*.suprx
libromfs-generator
!.github/

# Android JNI symlinks
android-project/app/jni/SDL
android-project/app/jni/borealis
android-project/app/jni/libromfs-generator